@width-Drawer: 350px;
@base-size: 16px;
@smartphones: ~"only screen and (max-width: 450px)";

a {
  @media @smartphones {
    min-width: 48px;
    min-height: 48px;
    padding: 0.4em;
  }
  font-size: 1.6*@base-size;
  color: #ffffff;
}

nav, main {
  @media @smartphones {
    padding: 0.4em;
    box-sizing: border-box;
  }
}

main {
  width: 100%;
  height: 100%;
}

nav {
  @media @smartphones {
    width: @width-Drawer;
    height: 100%;
    position: absolute;
    -webkit-transform: translate(-@width-Drawer, 0);
    transform: translate(-@width-Drawer, 0);
    transition: transform 0.3s ease;
    padding: 1.2rem
  }
}

nav.open {
  @media @smartphones {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.up-drawer {
  @media @smartphones {
    background-color: #339a25;
    color: #efefef;
    z-index: 2;
  }
}

.down-drawer {
  @media @smartphones {
    display: flex;
    border-bottom: 2px solid #1e8fc5;
    background-color: #69b55e;
  }
}

.button-drawer {
  padding: 0.8em;
}

#closeDrawerButton span{
  font-size: 1.2em;
}

.glyph-medium-size {
  font-size: @base-size*1.2;
}
