<p>This is the main template. Result is {{ 1+3 }}.</p>

<button type="file"
        ngf-select="upload($file)"
        ngf-multiple="false"
        ngf-allow-dir="false"
        ngf-accept="'.csv'"
        ngf-max-height="1000"
        ngf-max-size="1MB">
    <i class="glyphicon glyphicon-upload"></i>
</button>

<div class="btn-group" uib-dropdown is-open="status.isopen">
  <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
    {{separator}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li ng-repeat="separator in separators" role="menuitem"><a ng-click="selectedSeparator(separator)" href="#">{{separator.name}}</a></li>
  </ul>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <th>
        <a href="#" ng-click="sortField = 'id'; sortReverse = !sortReverse">Id
          <span>
            <i ng-show="sortField == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-up"></i>
            <i ng-show="sortField == 'id' && sortReverse" class="glyphicon glyphicon-chevron-down"></i>
          </span>
        </a>
      </th>
      <th></th>
      <th>
        <a href="#" ng-click="sortField = 'companyName'; sortReverse = !sortReverse">Company Name
          <span>
            <i ng-show="sortField == 'companyName' && !sortReverse" class="glyphicon glyphicon-chevron-up"></i>
            <i ng-show="sortField == 'companyName' && sortReverse" class="glyphicon glyphicon-chevron-down"></i>
          </span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortField = 'city'; sortReverse = !sortReverse">City
          <span>
            <i ng-show="sortField == 'city' && !sortReverse" class="glyphicon glyphicon-chevron-up"></i>
            <i ng-show="sortField == 'city' && sortReverse" class="glyphicon glyphicon-chevron-down"></i>
          </span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortField = 'country'; sortReverse = !sortReverse">Country
          <span>
            <i ng-show="sortField == 'country' && !sortReverse" class="glyphicon glyphicon-chevron-up"></i>
            <i ng-show="sortField == 'country' && sortReverse" class="glyphicon glyphicon-chevron-down"></i>
          </span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortField = 'postalCode'; sortReverse = !sortReverse">Postal Code
          <span>
            <i ng-show="sortField == 'postalCode' && !sortReverse" class="glyphicon glyphicon-chevron-up"></i>
            <i ng-show="sortField == 'postalCode' && sortReverse" class="glyphicon glyphicon-chevron-down"></i>
          </span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortField = 'street'; sortReverse = !sortReverse">Street
          <span>
            <i ng-show="sortField == 'street' && !sortReverse" class="glyphicon glyphicon-chevron-up"></i>
            <i ng-show="sortField == 'street' && sortReverse" class="glyphicon glyphicon-chevron-down"></i>
          </span>
        </a>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="founder in founders | filter:search | orderBy:sortField:sortReverse">
        <td>{{founder.id}}</td>
        <td><img ng-src="{{founder.photo}}" class="img-rounded" width="100" height="70"></td>
        <td><a ng-href="{{founder.homePage}}" target="_blank">{{founder.companyName}}</a></td>
        <td>{{founder.city}}</td>
        <td>{{founder.country}}</td>
        <td>{{founder.postalCode}}</td>
        <td>{{founder.street}}</td>
      </tr>
    </tbody>
  </table>
</div>
